.site-name-primary {
    color: var(--color-primary);
}

#scroll-to-top {
    cursor: pointer;
}

.whatsapp-btn {
    height: 45px;
    width: 45px;
    right: 13px;
    bottom: 13px;
    background: green;
    z-index: 100;
    transition: .5s;
}

.whatsapp-btn.move-up {
    bottom: 67px;
}
